@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

html, body {
    margin: 0;

    font-family: 'Open Sans', sans-serif;
}

.content {
    margin: 20px;
 
    h1 {
        border-bottom: thin solid black;
    }

    .person {
        border-radius: 100px;
    }
}