nav.header {
    background-color: #383838;
    position: sticky;
    top: 0;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    z-index: 1000000000;

    .menu {
        font-size: 20px;
        display: none;

        color: #ffffff;
        text-align: center;
        padding: 10px 20px;
    }

    .navitem {
        display: inline-block;

        &:hover {
            background-color: #555555;
        }

        a {
            display: inline-block;
            text-decoration: none;
            font-size: 20px;
            padding: 10px 20px;

            color: #ffffff;

            &:visited {
                color: #ffffff;
            }
        }

        .dropdown {
            display: none;
            position: absolute;
            background-color: #555555;

            a {
                &:hover {
                    background-color: #424242;
                }

                padding: 10px 20px;
                display: block;
            }
        }

        &:hover {
            .dropdown {
                display: block;
            }
        }
    }
}

#headerCollapse {
    display: none;
}

@media only screen and (max-width: 600px) {
    nav.header {
        .navitem {
            display: none;
        }

        .menu {
            display: block;
        }

        #headerCollapse:checked+& {
            .navitem {
                display: block;

                &:hover {
                    .dropdown {
                        display: none;
                    }
                }

                a {
                    width: 100%;
                }
            }
        }
    }
}