<link rel="stylesheet" href="/header.css">
<input type="checkbox" id="headerCollapse"/>
<nav class="header">
    <label class="menu" for="headerCollapse">Menu</label>
    <div class="navitem">
        <a href="/">Home</a>
    </div>
    <div class="navitem">
        <a href="/towns">Towns</a>
        <div class="dropdown">
            {% set sec = get_section(path="towns/_index.md") %}
            {% for town in sec.pages %}
            <a href="{{ town.permalink }}">{{ town.title }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="navitem">
        <a href="/safety">Safety Process</a>
    </div>
    <div class="navitem">
        <a href="/delivery">Delivery Policy</a>
    </div>
</nav>